@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Components

@page "/products"
@inject ILogger<Products> logger;
@inject IProductService productService;
@inject NavigationManager navigationManager;

<PageTitle>Products</PageTitle>

<ModuleTitle Title="Products" />

<button class="btn btn-dark" @onclick="@(() => navigationManager.NavigateTo("/add-product"))">
  Add new product
</button>

@if (products is null || products.Count == 0)
{
  <h1>No hay productos en la lista</h1>
}
else
{
  <div class="products-container">
    @foreach (var product in products)
    {
      <ProductCardComponent Product="@product" />
    }
  </div>
}

@code
{
  private List<Product> products = [];

  protected override async Task OnInitializedAsync()
  {
    products = await GetProducts();
  }

  private async Task<List<Product>> GetProducts()
  {
    return await productService.Get();
  }
}